In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
from datetime import datetime
import unicodedata

In [2]:
url = 'https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html'

### Extract date

In [3]:
content = requests.get(url).content
soup =BeautifulSoup(content, 'lxml')

In [4]:
def _removeNonAscii(s): return "".join(i for i in s if ord(i)<128)

data = soup.findAll(text=re.compile(".*pdated .*202"))
data

['Last updated on June 26, 2020',
 'Level of community transmission by jurisdiction — last updated May 18, 2020',
 'Total number of cases by day — last updated April 28, 2020',
 'Number of cases by source of exposure — last updated April 16, 2020',
 'Number of cases from Wuhan, China and the Diamond Princess cruise — last updated April 16, 2020',
 'Number of cases by illness start date — last updated April 15, 2020']

In [5]:
if len(data)>0:
    m = re.search(".*pdated .* (\w+ \d+, 202\d)", _removeNonAscii(data[0]))
    data_date_str = m.group(1)
    data_date = datetime.strptime(data_date_str, '%B %d, %Y').strftime('%Y-%m-%d')
else:
    data_date = datetime.utcnow().strftime('%Y-%m-%d')
data_date

'2020-06-26'

### Extract data and add into Dataframe

In [6]:
data = soup.findAll(text=re.compile("Total Cases = (\d+).*Total Deaths = (\d+)"))
data

['[{"@context":"https:\\/\\/schema.org","@type":"SpecialAnnouncement","name":"Cases in the U.S.","text":"<h3>U.S. At A Glance<\\/h3>\\r\\n<ul>\\r\\n \\t<li>Total Cases = 2,414,870\\r\\n<ul>\\r\\n \\t<li>New Cases = 40,588<\\/li>\\r\\n<\\/ul>\\r\\n<\\/li>\\r\\n \\t<li>Total Deaths = 124,325\\r\\n<ul>\\r\\n \\t<li>New Deaths = 2,516<\\/li>\\r\\n<\\/ul>\\r\\n<\\/li>\\r\\n<\\/ul>","category":"https:\\/\\/www.wikidata.org\\/wiki\\/Q81068910","datePosted":"2020-06-26T12:30","spatialCoverage":{"type":"Country","name":"USA"},"diseasePreventionInfo":"https:\\/\\/www.cdc.gov\\/coronavirus\\/2019-ncov\\/prevent-getting-sick\\/index.html","diseaseSpreadStatistics":"https:\\/\\/www.cdc.gov\\/coronavirus\\/2019-ncov\\/covid-data\\/covidview\\/index.html"}]']

In [7]:

m = re.search("Total Cases = ([,\d]+).*Total Deaths = ([,\d]+)", _removeNonAscii(data[0]))

In [8]:
total_cases = int(m.group(1).replace(',',''))
total_cases

2414870

In [9]:
total_deaths = int(m.group(2).replace(',',''))
total_deaths

124325

In [10]:
df = pd.DataFrame({'datetime':[data_date], 
                   'total_cases': [total_cases],
                   'total_deaths': [total_deaths]})

In [11]:
df

     datetime  total_cases  total_deaths
0  2020-06-26      2414870        124325

### Save to file (old data)

In [12]:
from pathlib import Path
csv_file = '../data/us-cdc-total-cases-deaths.csv'

if Path(csv_file).exists():
    # read out the old dat
    old_df = pd.read_csv(csv_file)
    df = df.append(old_df)
df.drop_duplicates(subset=['datetime'], inplace=True)
df

      datetime  total_cases  total_deaths
0   2020-06-26      2414870        124325
0   2020-05-07      1219066         73297
1   2020-05-08      1248040         75477
2   2020-05-09      1274036         77034
3   2020-05-10      1300696         78771
4   2020-05-11      1324488         79756
5   2020-05-12      1342594         80820
6   2020-05-13      1364061         82246
7   2020-05-14      1384930         83947
8   2020-05-15      1412121         85990
9   2020-05-16      1435098         87315
10  2020-05-17      1467065         88709
11  2020-05-18      1480349         89407
12  2020-05-19      1504830         90340
13  2020-05-20      1528235         91664
14  2020-05-21      1551095         93061
15  2020-05-22      1571617         94150
16  2020-05-23      1595885         96002
17  2020-05-24      1622114         97049
18  2020-05-25      1637456         97669
19  2020-05-26      1662414         98261
20  2020-05-27      1678843         99031
21  2020-05-28      1698523        100446
22  2020-05-29      1719827        101711
23  2020-05-30      1737950        102785
24  2020-05-31      1761503        103700
25  2020-06-01      1787680        104396
26  2020-06-02      1802470        105157
27  2020-06-03      1827425        106202
28  2020-06-04      1842101        107029
29  2020-06-05      1862656        108064
30  2020-06-06      1891690        109192
31  2020-06-07      1920904        109901
32  2020-06-08      1938823        110375
33  2020-06-09      1956421        110925
34  2020-06-10      1973797        112133
35  2020-06-11      1994283        112967
36  2020-06-12      2016027        113914
37  2020-06-13      2038344        114625
38  2020-06-14      2063812        115271
39  2020-06-15      2085769        115644
40  2020-06-16      2104346        116140
41  2020-06-17      2132321        116862
42  2020-06-18      2155572        117632
43  2020-06-19      2178710        118365
44  2020-06-20      2215618        119055
45  2020-06-21      2248029        119615
46  2020-06-22      2275645        119923
47  2020-06-23      2302288        120333
48  2020-06-24      2336615        121117
49  2020-06-25      2374282        121809

In [13]:
df.sort_values(by=['datetime'], inplace=True)
df.to_csv(csv_file, index=False)

In [14]:
df

      datetime  total_cases  total_deaths
0   2020-05-07      1219066         73297
1   2020-05-08      1248040         75477
2   2020-05-09      1274036         77034
3   2020-05-10      1300696         78771
4   2020-05-11      1324488         79756
5   2020-05-12      1342594         80820
6   2020-05-13      1364061         82246
7   2020-05-14      1384930         83947
8   2020-05-15      1412121         85990
9   2020-05-16      1435098         87315
10  2020-05-17      1467065         88709
11  2020-05-18      1480349         89407
12  2020-05-19      1504830         90340
13  2020-05-20      1528235         91664
14  2020-05-21      1551095         93061
15  2020-05-22      1571617         94150
16  2020-05-23      1595885         96002
17  2020-05-24      1622114         97049
18  2020-05-25      1637456         97669
19  2020-05-26      1662414         98261
20  2020-05-27      1678843         99031
21  2020-05-28      1698523        100446
22  2020-05-29      1719827        101711
23  2020-05-30      1737950        102785
24  2020-05-31      1761503        103700
25  2020-06-01      1787680        104396
26  2020-06-02      1802470        105157
27  2020-06-03      1827425        106202
28  2020-06-04      1842101        107029
29  2020-06-05      1862656        108064
30  2020-06-06      1891690        109192
31  2020-06-07      1920904        109901
32  2020-06-08      1938823        110375
33  2020-06-09      1956421        110925
34  2020-06-10      1973797        112133
35  2020-06-11      1994283        112967
36  2020-06-12      2016027        113914
37  2020-06-13      2038344        114625
38  2020-06-14      2063812        115271
39  2020-06-15      2085769        115644
40  2020-06-16      2104346        116140
41  2020-06-17      2132321        116862
42  2020-06-18      2155572        117632
43  2020-06-19      2178710        118365
44  2020-06-20      2215618        119055
45  2020-06-21      2248029        119615
46  2020-06-22      2275645        119923
47  2020-06-23      2302288        120333
48  2020-06-24      2336615        121117
49  2020-06-25      2374282        121809
0   2020-06-26      2414870        124325