In [1]:
import sys
sys.path.append("../")

In [2]:
import pandas as pd
from datetime import datetime
import json
from shields import write_shields_json

In [3]:
# last update badge

data_date_time = datetime.now().strftime('%Y-%m-%d %H:%M')
data_date_time

write_shields_json('../data/last_update.json', label='Last update', message=data_date_time)

In [4]:
bno_csv = '../data/bnonews-international.csv'
df_bno = pd.read_csv(bno_csv, infer_datetime_format=True, index_col='datetime')
df_bno

,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United States,Uruguay,Uzbekistan,Vatican City,Venezuela,Vietnam,WORLD,Yemen,Zambia,Zimbabwe
datetime,,,,,,,,,,,,,,,,,,,,,
2020-02-06 08:03,0,0,0,0,0,0,0,0,0,0,...,12,0,0,0,0,12,0,0,0,0
2020-02-06 08:19,0,0,0,0,0,0,0,0,0,0,...,12,0,0,0,0,12,0,0,0,0
2020-02-06 09:01,0,0,0,0,0,0,0,0,0,0,...,12,0,0,0,0,12,0,0,0,0
2020-02-06 09:46,0,0,0,0,0,0,0,0,0,0,...,12,0,0,0,0,12,0,0,0,0
2020-02-06 17:56,0,0,0,0,0,0,0,0,0,0,...,12,0,0,0,0,12,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-20 13:07,933,562,2629,713,19,3,23,2941,1248,97,...,764765,528,1565,8,227,268,0,1,52,24
2020-04-20 14:07,933,562,2629,713,19,3,23,2941,1248,97,...,764765,528,1565,8,227,268,0,1,52,24
2020-04-20 15:07,933,562,2629,713,19,3,23,2941,1248,97,...,764765,528,1565,8,227,268,0,1,52,24
2020-04-20 16:07,933,562,2629,713,19,3,23,2941,1248,97,...,764765,528,1565,8,227,268,0,1,52,24
2020-04-20 17:07,933,562,2629,713,19,3,23,2941,1248,97,...,764765,528,1565,8,227,268,0,1,52,24

In [5]:
latest = df_bno.iloc[-1]

display(latest)

Afghanistan     933
Albania         562
Algeria        2629
Andorra         713
Angola           19
               ...
Vietnam         268
WORLD             0
Yemen             1
Zambia           52
Zimbabwe         24
Name: 2020-04-20 17:07, Length: 213, dtype: int64

In [6]:
timestamp = latest.name
display(timestamp)

'2020-04-20 17:07'

In [7]:
# Top 10 countries
del latest['Diamond Princess']
del latest['Queue']
top10_countries = latest.sort_values(ascending=False)[:10]
display(top10_countries)

United States     764765
Spain             198674
Italy             179059
France            152894
Germany           145800
United Kingdom    120067
Turkey             86306
Iran               82211
Russia             47121
Brazil             38654
Name: 2020-04-20 17:07, dtype: int64

In [8]:
top10_str = ' '.join([f'{country}:{cases:}' for country,cases in top10_countries.iteritems()])

display(top10_str)

'United States:764765 Spain:198674 Italy:179059 France:152894 Germany:145800 United Kingdom:120067 Turkey:86306 Iran:82211 Russia:47121 Brazil:38654'

In [9]:
# output json stat 
write_shields_json('../data/top10.json', label='Top 10', message=top10_str)

In [10]:
# Number of cases increase from yesterday breakdown by countries?